.container {
  display: flex;
}

.container .products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.container .products .product {
  margin-bottom: 20px;
}

.groups-bar {
  display: flex;
}

.container .filter-panel {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
}

.groups-bar .group-filter {
  padding: 5px;
  margin: 0 5px 1em;
  flex: 1;
}

.container .groups-bar .group-filter.active {
  background-color: bisque;
}

.new-product {
  padding: 10px;
}
